.contact-form input, textarea {
    width: 300px;
    margin-top: 5px;
    padding: 2px;
    border-style: none;
}

#contact {
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 55, 255, 0.462)), url(../../img/6oj9176a.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}