/* .skills-container {
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 55, 255, 0.462)), url(../Header/img/web-g6666afdb1_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgb(0, 248, 112);
} */