.portfolio-Container {
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 55, 255, 0.462)), url(../../img/6oj9176a.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 0;
}

.portfolio-card-context-containers {
    position: relative;
    width: 100%;
}

.image {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #003344ce;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}

.portfolio-card-context-containers:hover .overlay {
    width: 100%;
}

.portfolioContent {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* ----------------------------------------------- */

.tooltipp {
    position: relative;
    display: inline-block;
    margin: 0 10px;
}

.tooltipp .tooltiptextt {
    visibility: hidden;
    width: 120px;
    background-color: rgb(0, 128, 255);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltipp .tooltiptextt::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(0, 128, 255) transparent transparent transparent;
}

.tooltipp:hover .tooltiptextt {
    visibility: visible;
}