.about-us-bg {
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 55, 255, 0.462)), url(../../img/6oj9176a.png);
    background-size: cover;
    background-attachment: fixed;
    
}

.titleDesign {
  
    text-transform: uppercase;
    font-family: verdana;
    font-size: 3em;

    font-weight: 700;
    color: #30c4ff;
    text-shadow:  0px 1px 1px #00e1ff,
    0px 1px 1px #00e1ff,
    0px 2px 1px #00e1ff,
    0px 3px 1px #00e1ff,
    0px 4px 1px #00e1ff,
    0px 5px 1px #00e1ff,
    0px 6px 1px #00e1ff,
   
1px 1px 3px rgba(255, 250, 107, 0.4),
1px 2px 5px rgba(16,16,16,0.2),
1px 2px 20px rgba(16,16,16,0.2),
1px 3px 30px rgba(16,16,16,0.4);



}